body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-3: "Bricolage Grotesque";

  /* font sizes */
  --font-size-base: 16px;
  --body-3-size: 18px;
  --heading-3-size: 24px;
  --font-size-lgi: 19px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --heading-2-size: 32px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-37xl: 56px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #efefef;
  --color-gray-100: #111;
  --color-gray-200: rgba(17, 17, 17, 0.5);
  --color-black: #000;
  --color-darkturquoise-100: #50cbd7;
  --color-darkturquoise-200: #36bfcd;
  --color-yellowgreen: #dce442;
  --color-sandybrown: #ec923b;
  --color-plum: #be9cf4;
  --color-gainsboro-100: #d9d9d9;
  --color-floralwhite: #f4f4ed;

  /* Gaps */
  --gap-xs: 12px;
  --gap-13xl: 32px;
  --gap-105xl: 124px;
  --gap-base: 16px;
  --gap-52xl: 71px;
  --gap-mid: 17px;
  --gap-45xl: 64px;
  --gap-5xl: 24px;
  --gap-29xl: 48px;
  --gap-49xl: 68px;
  --gap-lg: 18px;
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-41xl: 60px;
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-5xs-5: 7.5px;
  --gap-9xs: 4px;
  --gap-2xs: 11px;
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-16xl: 35px;
  --gap-94xl: 113px;
  --gap-7xs: 6px;
  --gap-57xl: 76px;
  --gap-7xl: 26px;
  --gap-smi: 13px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-101xl: 120px;
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-45xl: 64px;
  --padding-75xl: 94px;
  --padding-21xl: 40px;
  --padding-104xl: 123px;
  --padding-88xl: 107px;
  --padding-xl: 20px;
  --padding-42xl: 61px;
  --padding-mini: 15px;
  --padding-base: 16px;
  --padding-102xl: 121px;
  --padding-103xl: 122px;
  --padding-159xl: 178px;
  --padding-6xl: 25px;
  --padding-3xl: 22px;
  --padding-49xl: 68px;
  --padding-25xl: 44px;
  --padding-13xl: 32px;
  --padding-55xl: 74px;
  --padding-23xl: 42px;
  --padding-82xl: 101px;
  --padding-32xl: 51px;
  --padding-60xl: 79px;
  --padding-83xl: 102px;
  --padding-47xl: 66px;
  --padding-41xl: 60px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-86xl: 105px;
  --padding-192xl: 211px;
  --padding-158xl: 177px;
  --padding-96xl: 115px;
  --padding-11xl: 30px;
  --padding-56xl: 75px;
  --padding-4xs-1: 8.1px;
  --padding-81xl: 100px;
  --padding-46xl: 65px;
  --padding-85xl: 104px;
  --padding-48xl: 67px;
  --padding-65xl: 84px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-74xl: 93px;
  --padding-16xl: 35px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-20xl: 39px;
  --padding-1492xl: 1511px;
  --padding-26xl: 45px;
  --padding-78xl: 97px;
  --padding-61xl: 80px;
  --padding-33xl: 52px;
  --padding-66xl: 85px;
  --padding-9xl: 28px;
  --padding-203xl: 222px;
  --padding-92xl: 111px;
  --padding-10xl: 29px;
  --padding-205xl: 224px;
  --padding-93xl: 112px;
  --padding-190xl: 209px;
  --padding-129xl: 148px;
  --padding-79xl: 98px;
  --padding-177xl: 196px;
  --padding-91xl: 110px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-base: 16px;
  --br-81xl: 100px;
  --br-3xs: 10px;
  --br-4xs: 9px;
  --br-2xl: 21px;
  --br-7xs-1: 5.1px;
}
